# PISCO - swath and upc data (inverts, kelp, substrate)

The density of conspicuous, individually distinguishable macroalgae and macroinvertebrates (i.e. organisms larger than 2.5 cm and visually detectable by SCUBA divers) are visually recorded along replicate 2m wide by 30m long (60m2) transects. 
- For select species (e.g., sea urchins), high densities are spatially subsampled 
- 2 x 30m transects are distributed end-to-end and 5-10m apart at each of the following depths:
    - 5m
    - 12.5m
    - 20m 
- Additional 25m transects are conducted by VRG where habitat is available
- This usually results in 6 replicate transects per site. 
- Surveyors record:
    - Counts of individually distinguishable macroinvertebrates
    - Counts of Giant kelp (Macrocystis pyrifera) and bull kelp (Nereocystis luetkeana), > 1m in height
    - Stipe counts for qualifying giant kelp individuals 
    
In addition, the percent cover of non-individually distinguishable macroalgae and macroinvertebrates are visually recorded, usually on the **same replicate transects as the swath surveys described above.** 
- At each meter mark along the 30m transect, the diver records:
    - the underlying substrate (bedrock, boulder, cobble, or sand)
    - the vertical relief ( 0-10cm, 10cm-1m, 1-2m, and >2m) 
    - the cover (non-mobile primary space holding organism or bare substrate type)
    - the superlayer, if present (a small subset of specific organisms which may be ephemeral, and tend to create a layer over primary space holders)
    
**Resources:** <br>
https://opc.dataone.org/view/MLPA_kelpforest.metadata.1

In [1]:
## Imports

import pandas as pd
import numpy as np

from datetime import datetime # for handling dates

In [2]:
## Ensure my general functions for the MPA data integration project can be imported, and import them

import sys
sys.path.insert(0, "C:\\Users\\dianalg\\PycharmProjects\\PythonScripts\\MPA data integration")

import WoRMS # functions for querying WoRMS REST API

## Load data

In [3]:
## Load swath data

filename = 'MLPA_kelpforest_swath.1.csv'
swath = pd.read_csv(filename, encoding='ANSI', dtype={'transect':str, 'disease':str, 'notes':str, 'site_name_old':str})

print(swath.shape)
swath.head()

(233646, 17)

,campus,method,survey_year,year,month,day,site,zone,transect,classcode,count,size,disease,depth,observer,notes,site_name_old
0,UCSC,SBTL_SWATH_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,CRYSTE,1.0,NaN,NaN,6.1,STACEY BUCKELEW,NaN,NaN
1,UCSC,SBTL_SWATH_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,DICSPP,2.0,NaN,NaN,6.1,STACEY BUCKELEW,NaN,NaN
2,UCSC,SBTL_SWATH_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,MACPYRAD,2.0,2.0,NaN,6.1,STACEY BUCKELEW,NaN,NaN
3,UCSC,SBTL_SWATH_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,MACPYRAD,1.0,5.0,NaN,6.1,STACEY BUCKELEW,NaN,NaN
4,UCSC,SBTL_SWATH_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,MACPYRAD,1.0,7.0,NaN,6.1,STACEY BUCKELEW,NaN,NaN

### Column definitions

**campus** = UCSC, USCB, HSU or VRG. The academic partner campus that conducted the survey. <br>
**method** = SBTL_SWATH_PISCO, SBTL_SWATH_HSU or SBTL_SWATH_VRG. The code describing the sampling technique and monitoring program that conducted each survey. **How is this different than the previous column? Does it actually indicate further methodological differences?**" <br>
**survey_year** = 1999 - 2018. The designated year associated with the annual survey. In most cases, survey_year and year are the same. In rare cases, surveys are completed early in the year following the designated survey year. In these cases, survey_year will differ from year. <br>
**year** = 1999 - 2018. Year that the survey was conducted. <br>
**month** = 1 - 12. Month that the survey was conducted. <br>
**day** = 1 - 31. Day that the survey was conducted. <br>
**site** = One of 350 site codes. The unique site where the survey was performed (as defined in the site table). This site refers to a specific GPS location and is often associated with a geographic placename. Often, multiple site replicates will be associated with a single placename, and will be delineated with additional geographical or directional information (e.g. North/South/East/West/Central - N/S/E/W/CEN, Upcoast/Downcoast - UC/DC) <br>
**zone** = INNER, OUTER, OUTMID, INMID, MID or DEEP. A division of the site into 2 to 4 categories representing onshore-offshore stratification associated with targeted bottom depths for transects.
- INNER: Depth zone targeting roughly 5m of water depth, or the inner edge of the reef
- INMID: Depth zone targeting roughly 10m of water depth 
- MID: Depth zone targeting roughly 10-15m of water depth, used by VRG and in early years of PISCO
- OUTMID: Depth zone targeting roughly 15m of water depth 
- OUTER: Depth zone targeting roughly 20m of water depth 
- DEEP: Depth zone targeting roughly 25m of water depth, where present, used only by VRG

**transect** = It seems like this should only be 1 - 8, but there are **a number of other designations as well.** The unique transect replicate within each site and zone. <br>
**classcode** = One of 173 taxon codes. The unique taxonomic classification code that is being counted, as defined in the taxonomic table. This refers to a code that defines the Genus and Species that is identified, a code that represents a limited number of species that can't be narrowed down to one species, or in some cases family-level or higher order groupings. Generally, for invertebrates and algae, the classcode is comprised of the first letter of the genus, and the first three letters of the species, with some exceptions <br>
**count** = The number of individuals of a given classcode and a given size (if applicable) per transect <br>
**size** = For Macrocystis pyrifera, this represents the number of individual stipes growing for each individual. For a select number of invertebrate species that are measured on swath transects, this represents the size (in centimeters) of the following: test diameter for urchins, length of longest arm for seastars, shell length for abalone, carapace length for lobsters, total turgid length for sea cucumbers. <br>
**disease** = For some years echinoderm disease was recorded on transects for select species. When systematic observation for disease was conducted, disease is indicated here. Where blank, disease was not evaluated.
- HEALTHY: Individual was inspected and no was disease observed
- YES: Some form of disease was observed
- MILD: Mild disease was observed
- SEVERE: Severe disease was observed
- WASTING: Wasting disease was observed
- BLACK SPOT: Black spot disease was observed

**depth** = Between 1.2 and 28 meters. Depth of the transect estimated by the diver. **Does this mean a dive computer was used?** <br>
**observer** = The diver who conducted the survey transect <br>
**notes** = Free text notes taken at the time of the sample, or added at the time of data entry. <br>
**site_name_old** = In cases when specific sites have been surveyed by multiple campuses using different site names, this variable indicates the alternative (historical) site name.

**HOW DO I KNOW IF AN ORGANISM WAS SUBSAMPLED? HAVE THE COUNTS BEEN FIXED TO REFLECT COUNTS/60M2? Yes, counts have already been adjusted.**

In [4]:
## Load upc data

filename = 'MLPA_kelpforest_upc.1.csv'
upc = pd.read_csv(filename, encoding='ANSI', dtype={'transect':str, 'notes':str, 'site_name_old':str})

print(upc.shape)
upc.head()

(169686, 17)

,campus,method,survey_year,year,month,day,site,zone,transect,category,classcode,count,pct_cov,depth,observer,notes,site_name_old
0,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,ANEM,1,1.1,6.1,JARED FIGURSKI,NaN,NaN
1,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,BARROC,10,11.1,6.1,JARED FIGURSKI,NaN,NaN
2,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,BRANCH,31,34.4,6.1,JARED FIGURSKI,NaN,NaN
3,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,BROWN,2,2.2,6.1,JARED FIGURSKI,NaN,NaN
4,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,COMTUN,1,1.1,6.1,JARED FIGURSKI,NaN,NaN

### Additional column notes

**category** = The code indicating which of four types of data are collected on each point. Categories may be SUBSTRATE, RELIEF, COVER and SUPERLAYER. Percent cover should be calculated for each category separately. For SUPERLAYER, the total number of points will not necessarily equal the targeted number of points surveyed in each of the other categories (i.e. superlayer is specific to certain organisms that are only included if present).
- COVER: Primary space holding, non-mobile organism or bare substrate type present at each point, cover types are defined in taxonomic table
- RELIEF: Physical relief is measured as the greatest vertical relief that exists within a 1m wide section across the tape and a 0.5m section along that tape that is centered over the point. Relief categories can be 0-10cm, 10cm-1m, 1-2m, and >2m
- SUBSTRATE: Substrate type underlying each point. Substrate categories include bedrock , boulder, cobble, and sand and are further defined in the taxonomic table
- SUPERLAYER: Superlayer includes a small subset of specific organisms which may be ephemeral, and tend to create a layer over primary space holders. Examples include low-lying, very large-bladed macroalgae such as Laminaria farlowii, brittle stars, and drift algae and in the Northern region abalone are recorded as a superlayer when occupying the space at the point. Not recorded at all points, only where present

**pct_cov** = Percent cover, calculated by dividing the number of points of a given category and classcode by the total number of points of a category per transect. The percent cover of superlayer is calculated by dividing the number of points of a superlayer classcode by the total number of points in the cover category, since superlayers are not present at all points.

### Strategy

As with RCCA, each transect can be an **event**, and each organism observation can be an **occurrence**.

The **event** file should contain: eventID (from site, survey date, zone, transect), eventDate (from year, month, date), datasetID, locality (site), countryCode, decimalLat, decimalLon, coordinateUncertaintyInMeters, minimumDepthInMeters, maximumDepthInMeters, samplingProtocol, and samplingEffort. Should I include the campus information somewhere? Observer?

The **occurrence** file should contain: eventID, occurrenceID, scientificName, scientificNameID, taxonID, nameAccordingTo, occurrenceStatus, basisOfRecord, identificationQualifier (for taxa with two possible species matches), occurrenceRemarks (any other necessary information, maybe disease), organismQuantity (count), organismQuantityType.

The **MoF** file should contain: eventID, occurrenceID, measurementType, measurementValue, measurementUnit and measurementMethod. Cover, substrate, superlayer, and relief (pct_cov values) can be recorded at the event level. Size can be recorded at the occurrence level.

## Create occurrence file

### Get site names

In [5]:
## Load site table

filename = 'MLPA_kelpforest_site_table.1.csv'
sites = pd.read_csv(filename)

print(sites.shape)
sites.head()

(7458, 17)

,LTM_project_short_code,campus,method,survey_year,year,site,latitude,longitude,CA_MPA_Name_Short,site_designation,site_status,Secondary_MPA_Name,Secondary_site_designation,Secondary_site_status,BaselineRegion,LongTermRegion,MPA_priority_tier
0,LTM_Kelp_SRock,VRG,SBTL_SIZEFREQ_VRG,2008,2008,3 Palms East,33.71762,-118.33215,Abalone Cove SMCA,reference,reference,NaN,NaN,NaN,South Coast,South Coast,II
1,LTM_Kelp_SRock,VRG,SBTL_FISH_VRG,2008,2008,3 Palms East,33.71762,-118.33215,Abalone Cove SMCA,reference,reference,NaN,NaN,NaN,South Coast,South Coast,II
2,LTM_Kelp_SRock,VRG,SBTL_SWATH_VRG,2008,2008,3 Palms East,33.71762,-118.33215,Abalone Cove SMCA,reference,reference,NaN,NaN,NaN,South Coast,South Coast,II
3,LTM_Kelp_SRock,VRG,SBTL_UPC_VRG,2008,2008,3 Palms East,33.71762,-118.33215,Abalone Cove SMCA,reference,reference,NaN,NaN,NaN,South Coast,South Coast,II
4,LTM_Kelp_SRock,HSU,SBTL_UPC_HSU,2018,2018,ABALONE_POINT_1,39.69150,-123.81410,Ten Mile SMR,reference,reference,NaN,NaN,NaN,North Coast,North Coast,I

There are 32 sites in the site table that do not have any swath data, and 36 sites in the site table that do not have any upc data. It's worth noting that PISMO_W and SAL_E, which did not appear in the fish transect data and also do not appear in the swath data, were sampled during upc surveys. 

Sites that have swath data but not upc data are:
- SMI_PRINCE_ISLAND_CEN
- SMI_PRINCE_ISLAND_N
- SRI_CARRINGTON_E
- SRI_CARRINGTON_CEN
- SRI_CARRINGTON_W
- SRI_BEE_ROCK_W

Sites that have upc data but not swath data are:
- PISMO_W
- SAL_E

**PISMO_W and SAL_E also have latitude and longitude = NaN**

As checked in the fish transect conversion script, lat and lon have been consistently assigned within a site. Additionally, sites have been consistently labeled either 'mpa' or 'reference.' Since, for the purpose of DwC, we're not interested in which sites were sampled when, I can simplify the site table to only contain relevant information: site, latitude, longitude, and site status. **Note that which campus is responsible for a given site has changed between years in a number of cases, so I'm leaving this information out for now.**

In [6]:
## Create simplified site table

site_summary = sites[['site', 'site_status', 'latitude', 'longitude']].copy()
site_summary.drop_duplicates(inplace=True)

print(site_summary.shape)
site_summary.head()

(382, 4)

                    site site_status   latitude  longitude
0           3 Palms East   reference  33.717620 -118.33215
4        ABALONE_POINT_1   reference  39.691500 -123.81410
15       ABALONE_POINT_2   reference  39.665020 -123.80435
26       ABALONE_POINT_3   reference  39.628770 -123.79658
33  ANACAPA_ADMIRALS_CEN   reference  34.002883 -119.42520

Some site names have spaces or ' - ' characters. I'll replace these in a sensible way.

In [7]:
# Replace ' ' and ' - ' in site names and add site_name column

site_name = [name.replace(' - ', '-') for name in site_summary['site']]
site_name = [name.replace(' ', '_') for name in site_name]
site_summary['site_name'] = site_name

site_summary.head()

,site,site_status,latitude,longitude,site_name
0,3 Palms East,reference,33.717620,-118.33215,3_Palms_East
4,ABALONE_POINT_1,reference,39.691500,-123.81410,ABALONE_POINT_1
15,ABALONE_POINT_2,reference,39.665020,-123.80435,ABALONE_POINT_2
26,ABALONE_POINT_3,reference,39.628770,-123.79658,ABALONE_POINT_3
33,ANACAPA_ADMIRALS_CEN,reference,34.002883,-119.42520,ANACAPA_ADMIRALS_CEN

### Convert

In [8]:
## Merge to add site_name (also lat, lon and site_status) to swath and upc tables

swath = swath.merge(site_summary, how='left', on='site')
upc = upc.merge(site_summary, how='left', on='site')
upc.head()

,campus,method,survey_year,year,month,day,site,zone,transect,category,...,count,pct_cov,depth,observer,notes,site_name_old,site_status,latitude,longitude,site_name
0,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,...,1,1.1,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC
1,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,...,10,11.1,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC
2,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,...,31,34.4,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC
3,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,...,2,2.2,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC
4,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,...,1,1.1,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC

I'd like to include some of the upc cover data in the occurrence file - it seems like some of those occurrences should be findable on something like OBIS, and if I only put them in the MoF, they won't be. In order to do that, though, I'll have to sort out the non-biological cover types.

In [9]:
## Load species table

filename = 'MLPA_kelpforest_taxon_table.1.csv'
species = pd.read_csv(filename)

print(species.shape)
species.head()

(1336, 38)

,campus,sample_type,sample_subtype,classcode,orig_classcode,Kingdom,Phylum,Class,Order,Family,...,LOOKED2009,LOOKED2010,LOOKED2011,LOOKED2012,LOOKED2013,LOOKED2014,LOOKED2015,LOOKED2016,LOOKED2017,LOOKED2018
0,HSU,FISH,FISH,AARG,AARG,Animalia,Chordata,Actinopterygii,Perciformes,Embiotocidae,...,no,no,no,no,no,yes,yes,no,yes,yes
1,UCSB,FISH,FISH,AARG,AARG,Animalia,Chordata,Actinopterygii,Perciformes,Embiotocidae,...,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes
2,VRG,FISH,FISH,AARG,Amphistichus argenteus,Animalia,Chordata,Actinopterygii,Perciformes,Embiotocidae,...,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes
3,HSU,FISH,FISH,ACOR,ACOR,Animalia,Chordata,Actinopterygii,Scorpaeniformes,Cottidae,...,no,no,no,no,no,no,no,no,no,no
4,UCSB,FISH,FISH,ACOR,ACOR,Animalia,Chordata,Actinopterygii,Scorpaeniformes,Cottidae,...,no,no,no,no,no,no,no,no,no,no

In [10]:
## Select species for upc cover

cover_sp = species.loc[(species['sample_type'] == 'UPC') & (species['sample_subtype'].isin(['COVER', 'SUPERLAYER'])), 
                                                            ['sample_subtype', 'classcode', 'Kingdom', 'Phylum', 'Class', 'Order', 
                                                             'Family', 'Genus', 'Species', 'species_definition', 'common_name']]
cover_sp.drop_duplicates(inplace=True)

print(cover_sp.shape)
cover_sp.head()

(80, 11)

,sample_subtype,classcode,Kingdom,Phylum,Class,Order,Family,Genus,Species,species_definition,common_name
1013,COVER,AGLSTR,Animalia,Cnidaria,Hydrozoa,Leptothecata,Aglaopheniidae,Aglaophenia,struthionides,Aglaophenia struthionides,Ostrich-Plume Hydroid
1016,COVER,ANEM,Animalia,Cnidaria,Anthozoa,Actiniaria,NaN,NaN,NaN,Actiniaria,Anemone
1034,COVER,BARNAC,Animalia,Arthropoda,Hexanauplia,NaN,NaN,NaN,NaN,Cirripedia,Barnacle
1038,COVER,BARROC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bare Rock,Bare Rock
1042,COVER,BARSAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bare Sand,Bare Sand

Basically, I think I want to remove any species where Kingdom = NaN. That seems to sort out the non-biological cover types pretty well. 

```python
cover_sp[cover_sp['Kingdom'].isna() == True]
```

Once I've identified these classcodes, I can select all cover and superlayer records from upc, exclude the non-biological cover records, and append the result to swath. The remaining upc data will go in the MoF file.

In [11]:
## Get classcodes for non-biological cover and superlayer options

nonbio_cover = cover_sp.loc[cover_sp['Kingdom'].isna() == True, 'classcode']
nonbio_cover

1038      BARROC
1042      BARSAN
1100    DEADHOLD
1175         MUD
1226        SCUM
1229       SHELL
1285        UNID
1324      UNDDET
Name: classcode, dtype: object

In [12]:
## Select cover and superlayer records from upc, exclude nonbio_cover records, and append the result to swath

# Select relevant records
cover_records = upc[upc['category'].isin(['COVER', 'SUPERLAYER'])].copy()

# Exclude non-biological cover records
idx = cover_records[cover_records['classcode'].isin(nonbio_cover)].index
cover_records.drop(idx, inplace=True)

# Append to swath
swath = pd.concat([swath, cover_records], ignore_index=True)
print(cover_records.shape)
print(swath.shape)

(94653, 21)
(328299, 23)

In [13]:
## Create a df of remaining upc data for inclusion in MoF, then move on to creating occurrence file

# Get classcodes from UPC data corresponding to substrate, relief and nonbiological cover categories
upc_sp = species.loc[(species['sample_type'] == 'UPC') & (species['Kingdom'].isna() == True), ['sample_subtype', 'classcode', 'species_definition']]
upc_sp.drop_duplicates(inplace=True)

# Select nonbiological upc data for MoF
nonbio_upc = upc[upc['classcode'].isin(upc_sp['classcode'])].copy()
nonbio_upc.head()

,campus,method,survey_year,year,month,day,site,zone,transect,category,...,count,pct_cov,depth,observer,notes,site_name_old,site_status,latitude,longitude,site_name
1,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,COVER,...,10,11.1,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC
10,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,RELIEF,...,2,2.2,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC
11,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,RELIEF,...,4,4.4,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC
12,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,RELIEF,...,33,36.7,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC
13,UCSC,SBTL_UPC_PISCO,1999,1999,9,7,HOPKINS_DC,INNER,1,RELIEF,...,51,56.7,6.1,JARED FIGURSKI,NaN,NaN,mpa,36.623586,-121.904196,HOPKINS_DC

In [14]:
## Pad month and day as needed

paddedDay = ['0' + str(swath['day'].iloc[i]) if len(str(swath['day'].iloc[i])) == 1 else str(swath['day'].iloc[i]) for i in range(swath.shape[0])]
paddedMonth = ['0' + str(swath['month'].iloc[i]) if len(str(swath['month'].iloc[i])) == 1 else str(swath['month'].iloc[i]) for i in range(swath.shape[0])]

In [15]:
## Create eventID

eventID = [swath['site_name'].iloc[i] + '_' + str(swath['year'].iloc[i]) + paddedMonth[i] + paddedDay[i] + '_' + swath['zone'].iloc[i] + '_' +
           swath['transect'].iloc[i].replace(' ', '') for i in range(swath.shape[0])]
swath_occ = pd.DataFrame({'eventID':eventID})

swath_occ.head()

                       eventID
0  HOPKINS_DC_19990907_INNER_1
1  HOPKINS_DC_19990907_INNER_1
2  HOPKINS_DC_19990907_INNER_1
3  HOPKINS_DC_19990907_INNER_1
4  HOPKINS_DC_19990907_INNER_1

In [16]:
## Add occurrenceID

# Create survey_date column in swath
swath['survey_date'] = [str(swath['year'].iloc[i]) + paddedMonth[i] + paddedDay[i] for i in range(swath.shape[0])]

# Groupby to create occurrenceID
swath_occ['occurrenceID'] = swath.groupby(['site', 'survey_date', 'zone', 'transect'])['classcode'].cumcount()+1
swath_occ['occurrenceID'] = swath_occ['eventID'] + '_occ' + swath_occ['occurrenceID'].astype(str)

swath_occ.head()

                       eventID                      occurrenceID
0  HOPKINS_DC_19990907_INNER_1  HOPKINS_DC_19990907_INNER_1_occ1
1  HOPKINS_DC_19990907_INNER_1  HOPKINS_DC_19990907_INNER_1_occ2
2  HOPKINS_DC_19990907_INNER_1  HOPKINS_DC_19990907_INNER_1_occ3
3  HOPKINS_DC_19990907_INNER_1  HOPKINS_DC_19990907_INNER_1_occ4
4  HOPKINS_DC_19990907_INNER_1  HOPKINS_DC_19990907_INNER_1_occ5

In [23]:
## Get relevant records from species table

swath_sp = species.loc[species['sample_type'].isin(['SWATH', 'UPC']), ['classcode', 'Kingdom', 'Phylum', 'Class', 'Order', 'Family', 
                                                                       'Genus', 'Species', 'species_definition', 'common_name']]
swath_sp.drop_duplicates(inplace=True)

# Forward fill NaN values row-wise to get the last known major rank when Genus/Species is not known and use to create scientific_name column
swath_sp.ffill(axis=1, inplace=True)

scientific_name = []
for i in range(swath_sp.shape[0]):
    if swath_sp['Genus'].iloc[i] == swath_sp['Species'].iloc[i]:
        scientific_name.append(swath_sp['Genus'].iloc[i])
    else:
        scientific_name.append(swath_sp['Genus'].iloc[i] + ' ' + swath_sp['Species'].iloc[i])
        
swath_sp['scientific_name'] = scientific_name

swath_sp

,classcode,Kingdom,Phylum,Class,Order,Family,Genus,Species,species_definition,common_name,scientific_name
590,ALAMAR,Chromista,Ochrophyta,Phaeophyceae,Laminariales,Alariaceae,Alaria,marginata,Alaria marginata,Alaria,Alaria marginata
593,COSCOS,Chromista,Ochrophyta,Phaeophyceae,Laminariales,Costariaceae,Costaria,costata,Costaria costata,Costaria,Costaria costata
596,DESLIG,Chromista,Ochrophyta,Phaeophyceae,Desmarestiales,Desmarestiaceae,Desmarestia,ligulata,Desmarestia ligulata,Acid Weed,Desmarestia ligulata
597,DICSPP,Chromista,Ochrophyta,Phaeophyceae,Laminariales,Costariaceae,Dictyoneurum,californicum/reticulatum,Dictyoneurum californicum/reticulatum,Dictyoneurum,Dictyoneurum californicum/reticulatum
599,EGRMEN,Chromista,Ochrophyta,Phaeophyceae,Laminariales,Lessoniaceae,Egregia,menziesii,Egregia menziesii,Egregia,Egregia menziesii
...,...,...,...,...,...,...,...,...,...,...,...
1327,UNDHAL,Animalia,Mollusca,Gastropoda,Lepetellida,Haliotidae,Haliotis,spp.,Haliotis,Abalone superlayer,Haliotis spp.
1328,UNDJUVLAM,Chromista,Ochrophyta,Phaeophyceae,Laminariales,Laminariales,Laminariales,Laminariales,Laminariales Recruit,Laminariales Recruit,Laminariales
1330,UNDLAMFAR,Chromista,Ochrophyta,Phaeophyceae,Laminariales,Laminariaceae,Laminaria,farlowii,Laminaria farlowii,Laminaria farlowii Sub-Canopy (Layer Above Pri...,Laminaria farlowii
1333,UNDNEOFIM,Chromista,Ochrophyta,Phaeophyceae,Laminariales,Agaraceae,Neoagarum,fimbriatum,Neoagarum fimbriatum,Sieve/colander kelp,Neoagarum fimbriatum
1334,UNDPAC,Animalia,Echinodermata,Holothuroidea,Dendrochirotida,Sclerodactylidae,Pachythyone,rubra,Pachythyone rubra,Pachythyone Rubra (Layer Above Primary Spaceho...,Pachythyone rubra

**Note** that there are 12 classcodes in swath_sp that do not appear in the swath or biological upc data. They are:
- LAMSAC
- SARPAL
- STEDIOAD
- APAPRI
- ENTDOF
- FELCAL
- PELMUL
- POLATR
- PSEMON
- SCYORE
- CAPMAT
- UNDNEOFIM

```python
for code in swath_sp['classcode'].unique():
    if code not in swath['classcode'].unique():
        if code not in nonbio_upc['classcode'].unique():
            print(code)
```

**There is also one classcode from the swath data that is NOT in the species table: LEPHEXAD. Dan says it should correspond to an adult Leptasterias hexactis. For some surveys in some years, only adults (i.e. individuals over a certain size) were counted.**

In [24]:
## Map classcodes to species definitions (usually scientific names) and classcodes to common names

code_to_sci_dict = dict(zip(swath_sp['classcode'], swath_sp['scientific_name']))
code_to_com_dict = dict(zip(swath_sp['classcode'], swath_sp['common_name']))

# Add LEPHEXAD
code_to_sci_dict['LEPHEXAD'] = 'Leptasterias hexactis'
code_to_com_dict['LEPHEXAD'] = 'Six Arm Star - adult'

In [25]:
## Create scientificName

swath_occ['scientificName'] = swath['classcode']
swath_occ['scientificName'].replace(code_to_sci_dict, inplace=True)

swath_occ.head()

,eventID,occurrenceID,scientificName
0,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ1,Cryptochiton stelleri
1,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ2,Dictyoneurum californicum/reticulatum
2,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ3,Macrocystis pyrifera
3,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ4,Macrocystis pyrifera
4,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ5,Macrocystis pyrifera

In [26]:
## Get unique scientific names for lookup in WoRMS

names = swath_occ['scientificName'].unique()

**Note** that there are a number of names that are not specific at the species level:
- Dictyoneurum californicum/reticulatum (matched to Dictyoneurum)
- Loxorhynchus/Scyra crispatus/acutifrons (Lozorhynchus crispatus or Scyra acutifrons, shared subfamily Pisinae)
- Megastrea/Lithopoma/Pomaulax/Astraea spp (Megastraea sp. - misspelled! - or Lithopoma sp. or Pomaulax sp. or Astraea sp., shared subfamily Turbininae)
- Urticina columbiana/mcpeaki (matched to Urticina)
- Lopholithodes mandtii/foraminatus (matched to Lopholithodes)
- Ceratostoma/Pteropurpura spp (Ceratostoma spp. or Pteropurpura spp., shared subfamily Ocenebrinae)
- Diopatra/Chaetopterus spp (Diopatra spp. or Chaetopterus spp., shared class Polychaeta)
- Thylacodes/Petaloconchus squamigerus/montereyensis (Thylacodes squamigerus or Petaloconchus montereyensis, shared family Vermetidae)
- Dodecaceria fewkesi/concharum (matched to Dodecaceria)

**Add these to identificationQualifier column.**

There are also some descriptions that lack a scientific name:
- LEPHEXAD (as noted above, this classcode is not in the species table at all)
- TEST (this is the code for an urchin test, i.e., a dead animal. **I will exclude these records for now.**)
    - There are 66 records in the swath data with this classcode
- NO_ORG (this is the code for a completely empty transect, **I think). I will exclude tthese records for now.**
    - Here, as with the fish transect data, **the NO_ORG observation occurs in the same event as other observations.** You would think that a NO_ORG entry would be the only entry for a given event - see example below. Also note that **this observation has count = 0.** 
    - **Dan says this would occur if no algae were observed on the transect, but invertebrates were. After checking on this, it doesn't seem to be right. But since there's only 1 NO_ORG observation in the data set, it seems alright to exclude it. Maybe it's a data entry error?**
- UNIDSP (this is the classcode for an unidentified mobile invertebrate species, which has given the scientific_name **Animalia**.)

```python
# NO_ORG observation in the same event as other observations
swath_occ[swath_occ['eventID'] == 'SRI_JOHNSONS_LEE_NORTH_W_20050907_INNER_1']
```

In [44]:
## Make changes based on the above observations

swath_occ.loc[swath_occ['scientificName'] == 'Loxorhynchus/Scyra crispatus/acutifrons', 'scientificName'] = 'Pisinae'
swath_occ.loc[swath_occ['scientificName'] == 'Megastrea/Lithopoma/Pomaulax/Astraea spp', 'scientificName'] = 'Turbininae'
swath_occ.loc[swath_occ['scientificName'] == 'Ceratostoma/Pteropurpura spp', 'scientificName'] = 'Ocenebrinae'
swath_occ.loc[swath_occ['scientificName'] == 'Diopatra/Chaetopterus spp', 'scientificName'] = 'Polychaeta'
swath_occ.loc[swath_occ['scientificName'] == 'Thylacodes/Petaloconchus squamigerus/montereyensis', 'scientificName'] = 'Vermetidae'

# REMOVING NO_ORG, TEST RECORDS FOR NOW
idx = swath_occ[swath_occ['scientificName'].isin(['NO_ORG', 'TEST'])].index
swath_occ.drop(idx, inplace=True)

# Redefine names
names = swath_occ['scientificName'].unique()

In [26]:
## Match species in WoRMS

name_id_dict, name_name_dict, name_taxid_dict, name_class_dict = WoRMS.run_get_worms_from_scientific_name(names, verbose_flag=True)

Url didn't work for Dictyoneurum californicum/reticulatum checking:  Dictyoneurum
Url didn't work for Apostichopus spp checking:  Apostichopus
Url didn't work for Urticina spp checking:  Urticina
Url didn't work for Pugettia spp checking:  Pugettia
Url didn't work for Metridium spp checking:  Metridium
Url didn't work for Haliotis spp checking:  Haliotis
Url didn't work for Laminaria spp checking:  Laminaria
Url didn't work for Anthopleura spp checking:  Anthopleura
Url didn't work for Asteroidea spp checking:  Asteroidea
Url didn't work for Solaster spp checking:  Solaster
Url didn't work for Pisaster spp checking:  Pisaster
Url didn't work for Laminariales spp checking:  Laminariales
Url didn't work for Cucumaria spp checking:  Cucumaria
Url didn't work for Norrisia spp checking:  Norrisia
Url didn't work for Tegula spp checking:  Tegula
Url didn't work for Calliostoma spp checking:  Calliostoma
Url didn't work for Octopus spp checking:  Octopus
Url didn't work for Urticina columbiana/mcpeaki checking:  Urticina
Url didn't work for Lopholithodes mandtii/foraminatus checking:  Lopholithodes
Url didn't work for Henricia spp checking:  Henricia
Url didn't work for Sargassum spp checking:  Sargassum
Url didn't work for Tetilla sp checking:  Tetilla
Url didn't work for Phyllospadix spp checking:  Phyllospadix
Url didn't work for Desmarestia spp checking:  Desmarestia
Url didn't work for Dictyotales spp checking:  Dictyotales
Url didn't work for Dodecaceria fewkesi/concharum checking:  Dodecaceria
Url didn't work for Haliotis spp. checking:  Haliotis
Url didn't work for Phoronis spp checking:  Phoronis

In [45]:
## Add scientific name-related columns

swath_occ['scientificNameID'] = swath_occ['scientificName']
swath_occ['scientificNameID'].replace(name_id_dict, inplace=True)

swath_occ['taxonID'] = swath_occ['scientificName']
swath_occ['taxonID'].replace(name_taxid_dict, inplace=True)
swath_occ.head()

,eventID,occurrenceID,scientificName,scientificNameID,taxonID
0,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ1,Cryptochiton stelleri,urn:lsid:marinespecies.org:taxname:240776,240776
1,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ2,Dictyoneurum californicum/reticulatum,urn:lsid:marinespecies.org:taxname:369575,369575
2,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ3,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231
3,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ4,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231
4,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ5,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231

In [46]:
## Create identificationQualifier

qualifier_dict = {'Dictyoneurum californicum/reticulatum':'Dictyoneurum californicum or Dictyoneurum reticulatum',
                  'Loxorhynchus/Scyra crispatus/acutifrons':'Loxorhynchus crispatus or Scyra acutifrons',
                  'Megastrea/Lithopoma/Pomaulax/Astraea spp':'Megastraea spp. or Lithopoma spp. or Pomaulax spp. or Astraea spp.',
                  'Urticina columbiana/mcpeaki':'Urticina columbiana or Urticina mcpeaki',
                  'Lopholithodes mandtii/foraminatus':'Lopholithodes mandtii or Lopholithodes foraminatus',
                  'Ceratostoma/Pteropurpura spp':'Ceratostoma spp. or Pteropurpura spp.',
                  'Diopatra/Chaetopterus spp':'Diopatra spp. or Chaetopterus spp.',
                  'Thylacodes/Petaloconchus squamigerus/montereyensis':'Thylacodes squamigerus or Petaloconchus montereyensis',
                  'Dodecaceria fewkesi/concharum':'Dodecaceria fewkesi or Dodecaceria concharum',
                  'Animalia':'Unidentified mobile invertebrate species'}

identificationQualifier = [qualifier_dict[name] if name in qualifier_dict.keys() else np.nan for name in swath_occ['scientificName']]

In [47]:
## Replace scientificName using name_name_dict

swath_occ['scientificName'].replace(name_name_dict, inplace=True)
swath_occ.head()

,eventID,occurrenceID,scientificName,scientificNameID,taxonID
0,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ1,Cryptochiton stelleri,urn:lsid:marinespecies.org:taxname:240776,240776
1,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ2,Dictyoneurum,urn:lsid:marinespecies.org:taxname:369575,369575
2,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ3,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231
3,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ4,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231
4,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ5,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231

In [49]:
## Add final name-related columns

swath_occ['nameAccordingTo'] = 'WoRMS'
swath_occ['occurrenceStatus'] = 'present'
swath_occ['basisOfRecord'] = 'HumanObservation'
swath_occ['identificationQualifier'] = identificationQualifier

swath_occ.head()

,eventID,occurrenceID,scientificName,scientificNameID,taxonID,nameAccordingTo,occurrenceStatus,basisOfRecord,identificationQualifier
0,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ1,Cryptochiton stelleri,urn:lsid:marinespecies.org:taxname:240776,240776,WoRMS,present,HumanObservation,NaN
1,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ2,Dictyoneurum,urn:lsid:marinespecies.org:taxname:369575,369575,WoRMS,present,HumanObservation,Dictyoneurum californicum or Dictyoneurum reti...
2,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ3,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN
3,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ4,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN
4,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ5,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN

In [50]:
## Create density

# Obtain count and percent cover data from swath
quantity_df = swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST'), ['count', 'pct_cov']]

# Create organismQuantityType column indicating whether the data is a density or a percent cover
quantity_df['organismQuantityType'] = 'percent cover'
quantity_df.loc[quantity_df['pct_cov'].isna() == True, 'organismQuantityType'] = 'number of individuals per 60 m2'

# Forward fill to get count data in pct_cov column, and rename "organismQuantity"
quantity_df = quantity_df.ffill(axis=1)
quantity_df.columns = ['count', 'organismQuantity', 'organismQuantityType']
quantity_df

# Add to swath_occ
swath_occ['organismQuantity'] = quantity_df['organismQuantity']
swath_occ['organismQuantityType'] = quantity_df['organismQuantityType']
swath_occ.head()

,eventID,occurrenceID,scientificName,scientificNameID,taxonID,nameAccordingTo,occurrenceStatus,basisOfRecord,identificationQualifier,organismQuantity,organismQuantityType
0,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ1,Cryptochiton stelleri,urn:lsid:marinespecies.org:taxname:240776,240776,WoRMS,present,HumanObservation,NaN,1,number of individuals per 60 m2
1,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ2,Dictyoneurum,urn:lsid:marinespecies.org:taxname:369575,369575,WoRMS,present,HumanObservation,Dictyoneurum californicum or Dictyoneurum reti...,2,number of individuals per 60 m2
2,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ3,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN,2,number of individuals per 60 m2
3,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ4,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN,1,number of individuals per 60 m2
4,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ5,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN,1,number of individuals per 60 m2

**Note** that swath_occ has 20 records where organismQuantity = NaN. These all derive from the original swath dataframe.

```python
# In swath_occ:
swath_occ[swath_occ['organismQuantity'].isna() == True]

# In swath:
swath[swath['count'].isna() == True]
```

**I am going to drop these for now. Most of them seem to indicate in the notes column that the missing values derive from bad values on the original data sheets.**

In [51]:
## Drop records where organismQuantity is missing

print(swath_occ.shape)
swath_occ.dropna(subset=['organismQuantity'], inplace=True)
swath_occ.shape

(328232, 11)

(328212, 11)

In [52]:
## Add notes under occurrenceRemarks

swath_occ['occurrenceRemarks'] = swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'notes']
swath_occ.head()

,eventID,occurrenceID,scientificName,scientificNameID,taxonID,nameAccordingTo,occurrenceStatus,basisOfRecord,identificationQualifier,organismQuantity,organismQuantityType,occurrenceRemarks
0,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ1,Cryptochiton stelleri,urn:lsid:marinespecies.org:taxname:240776,240776,WoRMS,present,HumanObservation,NaN,1,number of individuals per 60 m2,NaN
1,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ2,Dictyoneurum,urn:lsid:marinespecies.org:taxname:369575,369575,WoRMS,present,HumanObservation,Dictyoneurum californicum or Dictyoneurum reti...,2,number of individuals per 60 m2,NaN
2,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ3,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN,2,number of individuals per 60 m2,NaN
3,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ4,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN,1,number of individuals per 60 m2,NaN
4,HOPKINS_DC_19990907_INNER_1,HOPKINS_DC_19990907_INNER_1_occ5,Macrocystis pyrifera,urn:lsid:marinespecies.org:taxname:232231,232231,WoRMS,present,HumanObservation,NaN,1,number of individuals per 60 m2,NaN

In [53]:
# Save size and disease data for MoF file

# Get size data
size = swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'size']
size_df = pd.DataFrame({'eventID':swath_occ['eventID'],
                        'occurrenceID':swath_occ['occurrenceID'],
                        'scientificName':swath_occ['scientificName'],
                        'size':size})
size_df.dropna(subset=['size'], inplace=True)
print(size_df.shape)

# Create a size_measurement_type column
size_df['measurementType'] = 'number of stipes'
size_df.loc[size_df['scientificName'].isin(['Mesocentrotus franciscanus', 
                                            'Strongylocentrotus purpuratus',
                                            'Lytechinus pictus']), 'measurementType'] = 'test diameter in centimeters' # urchins
size_df.loc[size_df['scientificName'].isin(['Haliotis rufescens', 
                                            'Haliotis walallensis',
                                            'Haliotis',
                                            'Haliotis kamtschatkana',
                                            'Haliotis corrugata',
                                            'Haliotis cracherodii',
                                            'Haliotis fulgens']), 'measurementType'] = 'shell length in centimeters' # abalone
size_df.loc[size_df['scientificName'].isin(['Patiria miniata', 
                                            'Pisaster giganteus',
                                            'Pisaster ochraceus',
                                            'Pycnopodia helianthoides',
                                            'Pisaster',
                                            'Pisaster brevispinus',
                                            'Asteroidea',
                                            'Solaster stimpsoni',
                                            'Leptasterias hexactis',
                                            'Solaster dawsoni',
                                            'Henricia leviuscula',
                                            'Dermasterias imbricata',
                                            'Mediaster aequalis',
                                            'Orthasterias koehleri',
                                            'Stylasterias forreri',
                                            'Linckia columbiae',
                                            'Astrometis sertulifera']), 'measurementType'] = 'longest arm length in centimeters' # sea stars
size_df.loc[size_df['scientificName'] == 'Panulirus interruptus', 'measurementType'] = 'carapace length in centimeters' # lobsters

# Get disease data
disease = swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'disease']
disease_df = pd.DataFrame({'eventID':swath_occ['eventID'],
                           'occurrenceID':swath_occ['occurrenceID'],
                           'scientificName':swath_occ['scientificName'],
                           'disease':disease})
disease_df.dropna(subset=['disease'], inplace=True)
print(disease_df.shape)

# Change the disease category 'YES' to something more descriptive
disease_df[disease_df['disease'] == 'YES'] = 'DISEASED'

(89223, 4)
(15451, 4)

**Note** that I did not find any size measurements for sea cucumbers, even though the methods say they may have been sized.

### Save

In [54]:
## Save

swath_occ.to_csv('PISCO_swath_occurrence_20201001.csv', index=False, na_rep='NaN')

## Create event file

**Note** that there are no events where only nonbiological UPC data was taken.

In [87]:
## Get unique eventIDs from occurrence file and their associated data

event = pd.DataFrame({'eventID':swath_occ['eventID'],
                    'eventDate':swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'survey_date'],
                    'institutionID':swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'campus'],
                    'locality':swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'site'],
                    'locationRemarks':swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'site_status'],
                    'decimalLatitude':swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'latitude'],
                    'decimalLongitude':swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'longitude']})
event.drop_duplicates(inplace=True)
event.reset_index(drop=True, inplace=True)

print(event.shape)
event.head()

(12168, 7)

,eventID,eventDate,institutionID,locality,locationRemarks,decimalLatitude,decimalLongitude
0,HOPKINS_DC_19990907_INNER_1,19990907,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
1,HOPKINS_DC_19990907_INNER_2,19990907,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
2,HOPKINS_DC_19990907_MID_1,19990907,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
3,HOPKINS_DC_19990907_MID_2,19990907,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
4,HOPKINS_DC_19990907_OUTER_1,19990907,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196

In [88]:
## Format eventDate

formatted = [datetime.strptime(dt, '%Y%m%d').date().isoformat() for dt in event['eventDate']]
event['eventDate'] = formatted
event.head()

,eventID,eventDate,institutionID,locality,locationRemarks,decimalLatitude,decimalLongitude
0,HOPKINS_DC_19990907_INNER_1,1999-09-07,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
1,HOPKINS_DC_19990907_INNER_2,1999-09-07,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
2,HOPKINS_DC_19990907_MID_1,1999-09-07,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
3,HOPKINS_DC_19990907_MID_2,1999-09-07,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
4,HOPKINS_DC_19990907_OUTER_1,1999-09-07,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196

In [89]:
## Dataset ID

event.insert(2, 'datasetID', 'PISCO swath and upc transects')
event.head()

,eventID,eventDate,datasetID,institutionID,locality,locationRemarks,decimalLatitude,decimalLongitude
0,HOPKINS_DC_19990907_INNER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
1,HOPKINS_DC_19990907_INNER_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
2,HOPKINS_DC_19990907_MID_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
3,HOPKINS_DC_19990907_MID_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196
4,HOPKINS_DC_19990907_OUTER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,mpa,36.623586,-121.904196

In [90]:
## Update vocabulary in locationRemarks to be consistent with CCFRP and other PISCO data

event['locationRemarks'].replace({'mpa':'marine protected area'}, inplace=True)
event.head()

,eventID,eventDate,datasetID,institutionID,locality,locationRemarks,decimalLatitude,decimalLongitude
0,HOPKINS_DC_19990907_INNER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,36.623586,-121.904196
1,HOPKINS_DC_19990907_INNER_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,36.623586,-121.904196
2,HOPKINS_DC_19990907_MID_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,36.623586,-121.904196
3,HOPKINS_DC_19990907_MID_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,36.623586,-121.904196
4,HOPKINS_DC_19990907_OUTER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,36.623586,-121.904196

In [91]:
## Add countryCode

event.insert(6, 'countryCode', 'US')
event.head()

,eventID,eventDate,datasetID,institutionID,locality,locationRemarks,countryCode,decimalLatitude,decimalLongitude
0,HOPKINS_DC_19990907_INNER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196
1,HOPKINS_DC_19990907_INNER_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196
2,HOPKINS_DC_19990907_MID_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196
3,HOPKINS_DC_19990907_MID_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196
4,HOPKINS_DC_19990907_OUTER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196

In [92]:
## Add coordinateUncertainty in Meters

event['coordinateUncertaintyInMeters'] = 250

**Is this a reasonable coordinateUncertaintyInMeters?** Yes

In [93]:
## minimumDepthInMeters, maximumDepthInMeters

# Add eventID to swath
swath['eventID'] = eventID
swath_subset = swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), ['eventID', 'depth']]

# Groupby eventID to obtain depth column
depth = swath_subset.groupby(['eventID']).agg({
    'depth':[min, max]
})
depth.reset_index(inplace=True)
depth.columns = depth.columns.droplevel()

# Add to event
event['minimumDepthInMeters'] = depth['min']
event['maximumDepthInMeters'] = depth['max']
event.head()

,eventID,eventDate,datasetID,institutionID,locality,locationRemarks,countryCode,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,minimumDepthInMeters,maximumDepthInMeters
0,HOPKINS_DC_19990907_INNER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,9.00,9.00
1,HOPKINS_DC_19990907_INNER_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,9.00,10.00
2,HOPKINS_DC_19990907_MID_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,5.00,5.00
3,HOPKINS_DC_19990907_MID_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,5.00,5.00
4,HOPKINS_DC_19990907_OUTER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,5.49,5.79

**Note** that there are 875 transects that had missing depths. In addition, 7277 transects had multiple depths listed. These have been summarized using min and max.

``` python
test = swath_subset.drop_duplicates()
test.dropna(inplace=True)
test[test['eventID'].duplicated()]
```

In [104]:
## Add samplingProtocol and samplingEffort

# samplingProtocol
method = pd.DataFrame({'eventID':swath_occ['eventID'], 
                       'method':swath.loc[(swath['classcode'] != 'NO_ORG') & (swath['classcode'] != 'TEST') & (swath['count'].isna() == False), 'method']})
method.drop_duplicates(inplace=True)
method = method.groupby('eventID')['method'].unique().str.join(', ')
print(method.shape)
method.reset_index(drop=True, inplace=True)
event['samplingProtocol'] = method

# samplingEffort
event['samplingEffort'] = 'all organisms present were counted'
event.head()

(12168,)

,eventID,eventDate,datasetID,institutionID,locality,locationRemarks,countryCode,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,minimumDepthInMeters,maximumDepthInMeters,samplingProtocol,samplingEffort
0,HOPKINS_DC_19990907_INNER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,9.00,9.00,"SBTL_SWATH_VRG, SBTL_UPC_VRG",all organisms present were counted
1,HOPKINS_DC_19990907_INNER_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,9.00,10.00,"SBTL_SWATH_VRG, SBTL_UPC_VRG",all organisms present were counted
2,HOPKINS_DC_19990907_MID_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,5.00,5.00,"SBTL_SWATH_VRG, SBTL_UPC_VRG",all organisms present were counted
3,HOPKINS_DC_19990907_MID_2,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,5.00,5.00,"SBTL_SWATH_VRG, SBTL_UPC_VRG",all organisms present were counted
4,HOPKINS_DC_19990907_OUTER_1,1999-09-07,PISCO swath and upc transects,UCSC,HOPKINS_DC,marine protected area,US,36.623586,-121.904196,250,5.49,5.79,"SBTL_SWATH_HSU, SBTL_UPC_HSU",all organisms present were counted

**Sampling effort?** Divers try to count everything they can find. Benthic swath surveys are a snapshot in time - no matter how much time you spend looking, because the organisms are sessile, you don't run the risk of double counting.

In [105]:
## Save

event.to_csv('PISCO_swath_event_20201001.csv', index=False, na_rep='NaN')

## Create MoF file

I'm just realizing that it's confusing to spit up the cover data, and there's no harm in including all the cover categories here as well. So that's what I'm going to do.

In [106]:
## Assemble UPC data

# Create eventID
paddedDay = ['0' + str(upc['day'].iloc[i]) if len(str(upc['day'].iloc[i])) == 1 else str(upc['day'].iloc[i]) for i in range(upc.shape[0])]
paddedMonth = ['0' + str(upc['month'].iloc[i]) if len(str(upc['month'].iloc[i])) == 1 else str(upc['month'].iloc[i]) for i in range(upc.shape[0])]
eventID = [upc['site_name'].iloc[i] + '_' + str(upc['year'].iloc[i]) + paddedMonth[i] + paddedDay[i] + '_' + upc['zone'].iloc[i] + '_' +
           upc['transect'].iloc[i].replace(' ', '') for i in range(upc.shape[0])]
upc_mof = pd.DataFrame({'eventID':eventID,
                       'category':upc['category'],
                       'classcode':upc['classcode'],
                       'count':upc['count'],
                       'pct_cov':upc['pct_cov']})

# Create a column with more interpretable definitions of species codes
upc_mof['common_name'] = upc_mof['classcode']
upc_mof['common_name'].replace(code_to_com_dict, inplace=True)

# Create Percent and UPC columns
upc_mof['pct_cov'] = upc_mof['pct_cov'].astype(str)
upc_mof['UPC'] = upc_mof['pct_cov'] + '% ' + upc_mof['common_name'] + ' | '

# Aggregate
upc_agg = upc_mof.groupby(['eventID', 'category']).agg({'UPC':sum})
upc_agg.reset_index(inplace=True)
upc_agg['UPC'] = upc_agg['UPC'].str[:-3]

# Make category column lower case
upc_agg['category'] = upc_agg['category'].str.lower()

upc_agg

,eventID,category,UPC
0,3_Palms_East_20080708_MID_1,cover,3.2% Bare Rock | 19.4% Bare Sand | 12.9% Brown...
1,3_Palms_East_20080708_MID_1,relief,29.0% Vertical Relief: Flat | 71.0% Vertical R...
2,3_Palms_East_20080708_MID_1,substrate,12.9% Substrate: Bedrock | 58.1% Substrate: Bo...
3,3_Palms_East_20080708_MID_2,cover,29.0% Bare Rock | 3.2% Bare Sand | 9.7% Brown ...
4,3_Palms_East_20080708_MID_2,relief,45.2% Vertical Relief: Flat | 9.7% Vertical Re...
...,...,...,...
37418,Whites_Point_20120724_MID_1,relief,9.7% Vertical Relief: Flat | 6.5% Vertical Rel...
37419,Whites_Point_20120724_MID_1,substrate,100.0% Substrate: Bedrock
37420,Whites_Point_20120724_MID_2,cover,3.2% Bare Sand | 12.9% Brown Algae | 3.2% Bryo...
37421,Whites_Point_20120724_MID_2,relief,6.5% Vertical Relief: Flat | 93.5% Vertical Re...
37422,Whites_Point_20120724_MID_2,substrate,100.0% Substrate: Bedrock

In [107]:
## Use mof dataframe with upc data

mof = pd.DataFrame({'eventID':upc_agg['eventID']})
mof['occurrenceID'] = np.nan
mof['measurementType'] = upc_agg['category']
mof['measurementValue'] = upc_agg['UPC']
mof['measurementUnit'] = 'percent cover'
mof['measurementMethod'] = 'uniform point contact'
mof.head()

,eventID,occurrenceID,measurementType,measurementValue,measurementUnit,measurementMethod
0,3_Palms_East_20080708_MID_1,NaN,cover,3.2% Bare Rock | 19.4% Bare Sand | 12.9% Brown...,percent cover,uniform point contact
1,3_Palms_East_20080708_MID_1,NaN,relief,29.0% Vertical Relief: Flat | 71.0% Vertical R...,percent cover,uniform point contact
2,3_Palms_East_20080708_MID_1,NaN,substrate,12.9% Substrate: Bedrock | 58.1% Substrate: Bo...,percent cover,uniform point contact
3,3_Palms_East_20080708_MID_2,NaN,cover,29.0% Bare Rock | 3.2% Bare Sand | 9.7% Brown ...,percent cover,uniform point contact
4,3_Palms_East_20080708_MID_2,NaN,relief,45.2% Vertical Relief: Flat | 9.7% Vertical Re...,percent cover,uniform point contact

In [108]:
## Add occurrence-level measurements and facts

# Size
size_mof = pd.DataFrame({'eventID':size_df['eventID'],
                        'occurrenceID':size_df['occurrenceID'],
                        'measurementType':size_df['measurementType'],
                        'measurementValue':size_df['size'],
                        'measurementUnit':'centimeters',
                        'measurementMethod':'measured by diver'})
size_mof.loc[size_mof['measurementType'] == 'number of stipes', 'measurementUnit'] = 'number of stipes'

# Disease
dis_mof = pd.DataFrame({'eventID':disease_df['eventID'],
                       'occurrenceID':disease_df['occurrenceID'],
                       'measurementType':'observation',
                       'measurementValue':disease_df['disease'].str.lower(),
                       'measurementUnit':np.nan,
                       'measurementMethod':'visually determined by diver'})
dis_mof

,eventID,occurrenceID,measurementType,measurementValue,measurementUnit,measurementMethod
78706,MACABEE_DC_20140703_INNER_1,MACABEE_DC_20140703_INNER_1_occ12,observation,healthy,NaN,visually determined by diver
78707,MACABEE_DC_20140703_INNER_1,MACABEE_DC_20140703_INNER_1_occ13,observation,severe,NaN,visually determined by diver
78708,MACABEE_DC_20140703_INNER_1,MACABEE_DC_20140703_INNER_1_occ14,observation,healthy,NaN,visually determined by diver
78710,MACABEE_DC_20140703_INNER_1,MACABEE_DC_20140703_INNER_1_occ16,observation,healthy,NaN,visually determined by diver
78721,MACABEE_DC_20140703_INNER_2,MACABEE_DC_20140703_INNER_2_occ10,observation,healthy,NaN,visually determined by diver
...,...,...,...,...,...,...
207885,SRI_SOUTH_POINT_W_20180822_MID_1,SRI_SOUTH_POINT_W_20180822_MID_1_occ18,observation,healthy,NaN,visually determined by diver
207975,SCI_GULL_ISLE_W_20180823_OUTER_1,SCI_GULL_ISLE_W_20180823_OUTER_1_occ33,observation,healthy,NaN,visually determined by diver
208356,SCI_YELLOWBANKS_CEN_20180829_OUTER_2,SCI_YELLOWBANKS_CEN_20180829_OUTER_2_occ24,observation,healthy,NaN,visually determined by diver
209154,SCI_PAINTED_CAVE_E_20181101_OUTER_1,SCI_PAINTED_CAVE_E_20181101_OUTER_1_occ14,observation,healthy,NaN,visually determined by diver
209335,SCI_PAINTED_CAVE_E_20181108_INNER_2,SCI_PAINTED_CAVE_E_20181108_INNER_2_occ15,observation,healthy,NaN,visually determined by diver

In [109]:
## Append

mof_agg = pd.concat([mof, size_mof, dis_mof])
mof_agg.head()

,eventID,occurrenceID,measurementType,measurementValue,measurementUnit,measurementMethod
0,3_Palms_East_20080708_MID_1,NaN,cover,3.2% Bare Rock | 19.4% Bare Sand | 12.9% Brown...,percent cover,uniform point contact
1,3_Palms_East_20080708_MID_1,NaN,relief,29.0% Vertical Relief: Flat | 71.0% Vertical R...,percent cover,uniform point contact
2,3_Palms_East_20080708_MID_1,NaN,substrate,12.9% Substrate: Bedrock | 58.1% Substrate: Bo...,percent cover,uniform point contact
3,3_Palms_East_20080708_MID_2,NaN,cover,29.0% Bare Rock | 3.2% Bare Sand | 9.7% Brown ...,percent cover,uniform point contact
4,3_Palms_East_20080708_MID_2,NaN,relief,45.2% Vertical Relief: Flat | 9.7% Vertical Re...,percent cover,uniform point contact

In [110]:
## Save

mof_agg.to_csv('PISCO_swath_MoF_20201001.csv', index=False, na_rep='NaN')

## Questions

**These questions are in addition to those listed in PISCO_fish_transect_converstion.ipynb**

1. How do I know if an organism was subsampled? Have counts already been adjusted to 60 m2? **Yes, counts have already been adjusted, so don't worry about it.**
2. What's up with the transects that aren't just numbers ('1_E', '1_S', etc.)? Should I strip off the letters or leave them? **The actual transect numbers aren't meaningful - they're just different to denote replicates. Dan agrees that they are a bit confusing, but the research group would like to keep them.**
3. There are 12 classcodes in the species table that do not appear in the swath or upc data. In addition, one classcode, LEPHEXAD, is missing from the species table. **This classcode refers to a Leptasterias adult. It will be changed to LEPHEX in the 2020 submission.**
4. Sometimes, as in the fish data, NO_ORG observations occur in the same event as other observations. This does not make sense to me. **This should mean that no kelp was observed on the transect. Dan will confirm, and I can look into this as well. -- This does not appear to be correct, but there's only one NO_ORG record, and for now I've just excluded it. The wording in Dan's follow-up email was a bit confusing, but I think he's saying that he will drop this record for the next submission, too.**
5. I did not find any size measurements for sea cucumbers, although the metadata says were sometimes sized. **This is fine; sea cucumber sizes can be found in the size frequency data.**
6. As in the fish data, what is an appropriate coordinateUncertaintyInMeters? **250 m should be fine.**
7. Is there a samplingEffort I can list for swath transects? UPC transects? Like a time goal or limit? **No. Since these transects represent a snapshot in time, and the organisms counted are sessile, it doesn't matter how long it takes someone to search the transect. It takes as long as it takes to survey everything that's there.**